---
const links = [
    { name: 'home', path: '/', target: '_self' },
    { name: 'about', path: '/about/', target: '_self' },
    { name: 'arts-n-crafts', path: '/arts-n-crafts/', target: '_self' },
    { name: 'posts', path: '/posts/', target: '_self' },
]

const { pathname } = Astro.url
---

<header class="relative border-b-2 border-primary-purple p-7 overflow-hidden bg-darkest-purple">
    <div class="flex max-w-6xl m-auto relative z-10">
        <nav class="flex w-full items-center">
            <div class="flex-1 font-bold">
                <a href="/" class="text-cyan-accent text-xl hover:text-pink-accent transition-colors">
                    kenny madrigal
                </a>
            </div>
            <a href="#" class="flex md:hidden text-cyan-accent" id="menu-open">
                <i class="ri-menu-2-line text-2xl"></i>
            </a>
            <ul class="hidden md:flex gap-2">
                {links.map(item => ( 
                    <li>
                        <a 
                            href={item.path} 
                            target={item.target} 
                            class:list={[
                                "px-4 py-2 rounded-lg transition-all duration-300",
                                pathname === item.path 
                                    ? "bg-primary-purple text-pink-accent" 
                                    : "text-cyan-accent hover:bg-dark-purple hover:text-pink-accent"
                            ]}
                        >
                            {item.name}
                        </a>
                    </li>
                ))}
            </ul>
        </nav>
    </div>
  </header>

  <div class="block md:hidden fixed left-0 top-0 h-full w-full bg-darker-purple z-20 p-3 transition-all duration-300 -translate-x-[100%]" id="menu-content">
    <div class="flex p-6">
        <h3 class="flex-1 font-bold uppercase text-cyan-accent">Menu</h3>
        <a href="#" id="menu-close" class="text-pink-accent">               
           <i class="ri-close-line text-3xl"></i>
        </a>
    </div>
    <ul class="flex flex-col justify-center items-center gap-4 md:hidden">
        {links.map(item => ( 
            <li class="py-3">
                <a 
                    href={item.path} 
                    target={item.target} 
                    class:list={[
                        "p-3 whitespace-nowrap text-2xl font-bold transition-colors",
                        pathname === item.path ? "text-pink-accent" : "text-cyan-accent"
                    ]}
                >
                    {item.name}
                </a>
            </li>
        ))}
    </ul>
  </div>


<script>
document.addEventListener('DOMContentLoaded', function () {
    const menuContent = document.querySelector('#menu-content') 
    const menuOpen = document.querySelector('#menu-open') 
    const menuClose = document.querySelector('#menu-close') 


    menuOpen?.addEventListener('click', (e) => {
        e.preventDefault()
        menuContent?.classList.remove('-translate-x-[100%]')
    })

    menuClose?.addEventListener('click', (e) => {
        e.preventDefault()
        menuContent?.classList.add('-translate-x-[100%]')
    })


    menuContent?.querySelectorAll('li a').forEach(item => {
        item.addEventListener('click', (e) => {
            menuContent?.classList.add('-translate-x-[100%]')
        })
    })
})
</script>